.filters {
  padding-bottom: 40px;
  @include mq(tab) {
    padding-bottom: 30px;
  }
  @include mq(desk) {
    padding-bottom: 50px;
  }
}

.filters__list {
  display: flex;
  justify-content: center;

  @include mq(mob-only) {
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: flex-start;
  }
}

.filters__button:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}
