.header {
  border-bottom: 1px solid var(--header-border-color);
  @include mq(mob-only);
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation__menu {
  display: none;
  @include mq(tab) {
    display: flex;
    margin-left: 93px;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.navigation__link--current {
  position: relative;
  color: var(--accent-text-color);

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
  }
}

.header-contacts {
  display: none;
  @include mq(tab) {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header-contacts__item + .header-contacts__item {
  margin-left: 30px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
