.hero {
  text-align: center;
  background: var(--bg-dark-color);
  padding-top: 118px;
  padding-bottom: 118px;
  @include mq(desk) {
    padding-top: 220px;
    padding-bottom: 335px;
  }
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  @include mq(tab) {
    max-width: 360px;
  }
  @include mq(desk) {
    font-size: 44px;
    line-height: 1.24;
    max-width: 829px;
  }
}
