body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mq(desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  @include mq(mob-only) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
  }
  margin-bottom: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
