:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --logo-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bg-dark-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --header-border-color: #ececec;
  --card-gap: 30px;
  --card-item: 1;
}
